$color: white;
$textcolor: black;
$fontsize: 14px;
$bgimage:url(../img/rotoscopia.gif);
$jumbotext: rgb(206, 63, 63);
$background-image: url(../img/35mm.jpg);



%align{
    text-align: center;
}


body {
    background-color: tan;
  }
  
 
  @media screen and (max-width: 992px) {
    body {
      background-color: goldenrod;
    }
  }
  
  @media screen and (max-width: 600px) {
    body {
      background-color: olivedrab;
    }
  }

h1{
    color: $color;
   @extend %align;
   @import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
}

.sh-dropcaps-full-square-tale {
    background-color: #5c5cff !important;
    overflow: visible;
    color: #fff;
    font-family: 'Rampart One', cursive;
    font-weight: 900;
    line-height: 56px !important;
    font-size: 38px !important;
    width: 56px;
    height: 56px;
    display: inline-block;
    text-align: center;
    /*float:;*/
    margin-right: 15px;
    margin-top: 3px;
    margin-bottom: 8px;
    position: relative;
    border-radius: 4px;
}

body{
    color: $textcolor;
    font-size: $textcolor;
    font-family: 'Rampart One', cursive;
    .paragraph2{
        color: blue;

    }
}

p {
    @extend %align;
    $textcolor: $jumbotext;
}
.paragraph1{
    @extend %align;
    color: red;
    
}

.jumbotron{
    background-image: $bgimage;
    max-width: 100%;
    
}

.footer {
    overflow: hidden;
    margin-top: 0;
    background-color: #24262b;
    padding: 70px 0;
    justify-content: center;
}

#footer-text{
     position: relative;
     left: 20%;
     @extend %align;
 }

 .footer-column{
     width: 100%;
     @extend %align;
 }