<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Evolution</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
  <!--Jumbotron-->
  <div class="jumbotron" style="margin-bottom:0">
    <h1>“If you don't get it right, what's the point?”</h1>
    <p>Michael Cimino</p>
  </div>
    <!--Navbar of navigation-->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href="../index.html">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="./History.html">History</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./Directors.html">Directors</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./Experimental.html">Experimental Animation</a>
            </li>    
          </ul>
        </div>  
      </nav>
    <!-- Biography Cards -->
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="../img/gaspar.jpg" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Gaspar Noé</h5>
            <p class="card-text">Gaspar Noé was born on December 27, 1963 in Buenos Aires, Argentina. He is a director and producer, known for Climax (2018), Irreversible (2002) and Enter the Void (2009).</p>
            <p class="card-text"><small class="text-muted">
              <p>
                <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                  About...
                </a>
              </p>
              <div class="collapse" id="collapseExample">
                <div class="card card-body">
                His work has been strongly associated with a series of films defined as the cinéma du corps/cinema of the body, which according to Tim Palmer share an attenuated use of narrative, generally assaulting and often illegible cinematography, confrontational subject material, a treatment of sexual behavior as violent rather than mutually intimate, and a pervasive sense of social nihilism or despair.
                </div>
              </div>
            </small>
          </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="../img/godard.jpg" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Jean Luc Godard</h5>
            <p class="card-text">Jean-Luc Godard was born in Paris on December 3, 1930, the second of four children in a bourgeois Franco-Swiss family. </p>
            <p class="card-text"><small class="text-muted">
              <p>
                <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                  About...
                </a>
              </p>
              <div class="collapse" id="collapseExample">
                <div class="card card-body">
                  1957 - Godard made his first French film entitled Tous les garçons s'appellent Patrick (Charlotte et Véronique).
                  1960 - Godard shot Le petit soldat
                </div>
              </div>
            </small>
          </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="../img/kubrick.jpg" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Stanley Kubrick</h5>
            <p class="card-text">Stanley Kubrick was born in Manhattan, New York City, to Sadie Gertrude (Perveler) and Jacob Leonard Kubrick, a physician. His family were Jewish immigrants (from Austria, Romania, and Russia).</p>
            <p class="card-text"><small class="text-muted">
              <p>
                <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                  About...
                </a>
              </p>
              <div class="collapse" id="collapseExample">
                <div class="card card-body">
                  Kubrick's first UK film was Lolita (1962)
                  The next film he completed was a collaboration with sci-fi author Arthur C. Clarke. 2001: A space Odyssey (1968) 
                  The Clockwork Orange (1971)
                  The Shinning (1980) 
                </div>
              </div>
            </small>
          </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="../img/awarhol.jpg" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Andy Warhol</h5>
            <p class="card-text">Andrew Warhol's father, Ondrej, came from the Austria-Hungary Empire (now Slovakia) in 1912, and sent for his mother, Julia Zavackyová Warholová, in 1921.</p>
            <p class="card-text"><small class="text-muted">
              <p>
                <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                  About...
                </a>
              </p>
              <div class="collapse" id="collapseExample">
                <div class="card card-body">
                  In 1960, Warhol began to make his first paintings. They were based on comic strips in the likes of Dick Tracy, Popeye, Superman, and two of Coca-Cola bottles.
                  In the summer of 1966, Warhol's film Chelsea Girls (1966) became the first underground film to be shown at a commercial theater.
                </div>
              </div>
            </small>
          </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="../img/buñuel.jpg" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Luis Buñuel</h5>
            <p class="card-text">The father of cinematic Surrealism and one of the most original directors in the history of the film medium, Luis Buñuel was given a strict Jesuit education (which sowed the seeds of his obsession with both religion and subversive behavior)</p>
            <p class="card-text"><small class="text-muted">
              <p>
                <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                  About...
                </a>
              </p>
              <div class="collapse" id="collapseExample">
                <div class="card card-body">
                  Subsequently moved to Madrid to study at the university there, where his close friends included Salvador Dalí and Federico García Lorca.
                  After moving to Paris, Buñuel did a variety of film-related odd jobs in Paris, including working as an assistant to director Jean Epstein
                </div>
              </div>
            </small>
          </p>
          </div>
        </div>
      </div>
    </div>

    <!--Footer Page-->
    <footer class="footer" id="Footer">
      <link rel="stylesheet" href="static/styles.css">
      <div class="container-footer" data-aos="fade-down">
          <div class="row" data-aos="fade-down">
              <div class="footer-column" data-aos="fade-down">
                  <h4>The Hidden Maze</h4>
                  <ul>
                     <li><a href="#foo0" id="foo0" data-toggle="popover" title="About us" data-trigger="focus" data-content="Focus on give resume of cult film or the filmography or certain directors as well writers that inspired a film.">Film Criticism</a></li>
                     <li><a href="#foo1" id="foo1" data-toggle="popover" title="Some Services" data-trigger="focus" data-content="We develop content by compays who has a interest to make grou up the culture">Web Page Developers</a></li>
                     <li><a href="#foo2" id="foo2" data-toggle="popover" title="Privacy" data-trigger="focus" data-content="All rights reserved by the law No. 787">Privacy Politic</a></li>   
                  </ul>
              </div>
          </div>
      </div>
  </footer>
    
</body>
</html>