<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Experimental Animation</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
  <!--Jumbotron-->
  <div class="jumbotron" style="margin-bottom:0">
    <h1>"Wherever prejudice is found, it always clouds the truth"</h1>
    <p>Twelve men without mercy-(1957)</p> 
  </div>
  <!--Navbar-->
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="../index.html">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="./History.html">History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./Directors.html">Directors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./Experimental.html">Experimental Animation</a>
        </li>    
      </ul>
    </div>  
  </nav>
  <div class="row row-cols-1 row-cols-md-2">
    <div class="col mb-4">
      <div class="card">
        <img src="../img/waking.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Waking Life (2001)</h5>
          <p class="card-text">A men move throughout a dream meeting many people and discussing the meanings and purposes of life.
            - A film by Richar Linklater
          </p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="../img/ruben-brandt-collector-poster.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Ruben Brandt - Collector (2018)</h5>
          <p class="card-text">The famous psycotherapeutist Rube Brandt is obligate to steal art paintings betwee the most famous of the world to 
            stop the terribles nightmare that follow him - A film by Milorad Krstic
          </p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="../img/courgette.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Courgette (2016)</h5>
          <p class="card-text">After losing his mother, a young boy is sent to a foster home with other orphans his age where he begins to learn the meaning of trust and true love.
            - A film by Claude Barras
          </p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="../img/virus tropical.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Virus Tropical (2017)</h5>
          <p class="card-text">Paola is born in a traditional Colombian family, or at least that is what they try to be. Her father is a priest, her mother is a "psychic" and her sisters are not what their parents expected. She is a young Latin American woman struggling for her independence in a hard context full of stereotypes and appearances not being able to fit in any mold.
            - A film by Santiago Caicedo
          </p>
        </div>
      </div>
    </div>
  </div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
<!--Footer Page-->
<footer class="footer" id="Footer">
  <link rel="stylesheet" href="static/styles.css">
  <div class="container-footer" data-aos="fade-down">
      <div class="row" data-aos="fade-down">
          <div class="footer-colum" data-aos="fade-down">
              <h4>The Hidden Maze</h4>
              <ul>
                 <li><a href="#foo0" id="foo0" data-toggle="popover" title="About us" data-trigger="focus" data-content="Focus on give resume of cult film or the filmography or certain directors as well writers that inspired a film.">Film Criticism</a></li>
                 <li><a href="#foo1" id="foo1" data-toggle="popover" title="Some Services" data-trigger="focus" data-content="We develop content by compays who has a interest to make grou up the culture">Web Page Developers</a></li>
                 <li><a href="#foo2" id="foo2" data-toggle="popover" title="Privacy" data-trigger="focus" data-content="All rights reserved by the law No. 787">Privacy Politic</a></li>   
              </ul>
          </div>
          <div class="footer-colum" data-aos="fade-down">
              <h4>Siguenos</h4>
              <div class="redes" data-aos="fade-down">
                  <a href="https://www.facebook.com/comavdel/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                  <a href="https://www.instagram.com/com_avdel/" target="_blank"><i class="fab fa-instagram"></i></a>
                  <a href="https://api.whatsapp.com/send?phone=50581545114"><i class="fab fa-whatsapp"></i></a>
                  <a href="mailto:cesargarciakuki@hotmail.com"><i class="fas fa-envelope"></i></a>
              </div>
          </div>
      </div>
  </div>
</footer>

</body>
</html>