<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <title>History</title>
  <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
  <!--Jumbotron-->
  <div class="jumbotron" style="margin-bottom:0">
  <h1>"Ideas come from everything”</h1>
  <p>Alfred Hitchcock</p>
  </div>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href="../index.html">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="./History.html">History</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./Directors.html">Directors</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./Experimental.html">Experimental Animation</a>
            </li>    
          </ul>
        </div>  
      </nav>
      <div class="container" style= "margin-top: 30px">
      <div class="row">
        <!--<h2>What is experimental Film?</h2>-->
            <div class="col">
              <div class="col-sm-6">
                <div class="card" style="width:400px">
                  <img class="card-img-top" src="../img/terror.jpg" alt="Card image" style="width:100%">
                  <div class="card-body">
                    <h4 class="card-title">Filmmaking</h4>
                    <p class="card-text">This projects blur the line between traditional cinema and experimental filmmaking by including elements of each. </p>
                    <a href="#" class="btn btn-primary">Read more...</a>
                  </div>
                </div>
                </div> 
            </div>
            <div class="col">
              <div class="col-sm-6">
                <div class="card" style="width:400px">
                  <img class="card-img-top" src="../img/kalei.jpg" alt="Card image" style="width:100%">
                  <div class="card-body">
                    <h4 class="card-title">Fotography</h4>
                    <p class="card-text">Some of them are inspired by fotography or a combination of artworks with painting technics</p>
                    <a href="#" class="btn btn-primary">Read more...</a>
                  </div>
                </div>
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col">
              <div class="col-sm-6">
                <div class="card" style="width:400px">
                  <img class="card-img-top" src="../img/brave.jpg" alt="Card image" style="width:100%">
                  <div class="card-body">
                    <h4 class="card-title">Animation</h4>
                    <p class="card-text">Even with the animation has a long history</p>
                    <a href="#" class="btn btn-primary">Read more...</a>
                  </div>
              </div>
            </div>
            </div>
            <div class="col">
              <div class="col-sm-6">
                <div class="card" style="width:400px">
                  <div class="card-body">
                    <h4 class="card-title">Film Directors</h4>
                    <p class="card-text">There are so many long the history of filmmaking</p>
                    <a href="#" class="btn btn-primary">Read more</a>
                  </div>
                  <img class="card-img-bottom" src="../img/ruido.png" alt="Card image" style="width:100%">
                </div>
              </div>
            </div>
          </div>
        </div>
      
      <div class="container">
        <h2>Genres of Experimental Filmmaking</h2>
        
        <!--Table of the different genres--> 
        <h3>An introduction to Experimental films</h3>
        <h4>This definition covers experimental films, artists' films and avant-garde films</h4> 
        <p>An international film practice that explores cinema's capacity to manipulate light, motion, space, and time, and/or expresses the filmmaker's personal artistic vision. Usually linked to broader trends and practices in fine art, avant-garde film is particularly closely associated with modernism, 
          tracing its origins to 1920s Europe in the work of artists motivated by a desire to add a temporal dimension to painting and sculpture. Formative early works Rhythmus 21 (Hans Richter, Germany, 1923–25) and Symphonie diagonale (Viking Eggeling, Germany, 1923–24) explore the musical organization of filmic time; while Le ballet mécanique (Fernand Léger, France, 1924) and 
          Anémic cinéma (Marcel Duchamp, France, 1926) offer graphic investigations of Cubist space. </p>
        <p>The influence of Surrealism is apparent in La coquille et le clergyman (Germaine Dulac, France, 1927) and Un chien Andalou/An Andalusian Dog (Salvador Dali and Luis Buñuel, France, 1929); and that of Futurism and Constructivism in Chelovek s kinoapparatom/The Man with a Movie Camera (Dziga Vertov, USSR, 1929). </p>          
        <table class="table table-dark table-hover">
          <thead>
            <tr>
              <th>Categories</th>
              <th>Films</th>
              <th>Directors</th>
              <th>Year of release</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Experimental Films</td>
              <td>Living</td>
              <td>1971</td>
              <td>Franz Zwartjes</td>
            </tr>
            <tr>
              <td>Surrealist Films</td>
              <td>The seventh seal</td>
              <td>1957</td>
              <td>Ignmar Bergman</td>
            </tr>
            <tr>
              <td>Cinematography, abstract</td>
              <td>2001: A space Odyssey</td>
              <td>1968</td>
              <td>Stanley Kubrick</td>
            </tr>
            <tr>
              <td>Video art</td>
              <td>Blowjob</td>
              <td>1964</td>
              <td>Andy Warhol</td>
            </tr>
            <tr>
              <td>Video art history and criticism</td>
              <td>Telephones</td>
              <td>1995</td>
              <td>Christian Marclay</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row row-cols-1 row-cols-md-2">
        <div class="col mb-4">
          <div class="card">
            <img src="../img/living.jpg" class="card-img-top" alt="living">
            <div class="card-body">
              <h5 class="card-title">Living(1971)</h5>
              <p class="card-text">The director and his wife move restlessly through a largely empty apartment. In-camera editing and mindblowing hand held camerawork by the Dutch filmmaker Frans Zwartjes.</p>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <img src="../img/seven.jpg" class="card-img-top" alt="seven">
            <div class="card-body">
              <h5 class="card-title">The seventh seal (1957)</h5>
              <p class="card-text">A man seeks answers about life, death, and the existence of God as he plays chess against the Grim Reaper during the Black Plague.</p>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <img src="../img/2001-A-Space-Odyssey-Movie-Poster.png" class="card-img-top" alt="space">
            <div class="card-body">
              <h5 class="card-title">2001: A space Odyssey</h5>
              <p class="card-text">After discovering a mysterious artifact buried beneath the Lunar surface, mankind sets off on a quest to find its origins with help from intelligent supercomputer H.A.L. 9000.</p>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <img src="../img/warhol.jpg" class="card-img-top" alt="warhol">
            <div class="card-body">
              <h5 class="card-title">Blowjob (1964)</h5>
              <p class="card-text">Andy Warhol directs a single 35-minute shot of a man's face to capture his facial expressions as he receives the sexual act depicted in the title.</p>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <img src="../img/telephones.jpg" class="card-img-top" alt="warhol">
            <div class="card-body">
              <h5 class="card-title">Telephones (1995)</h5>
              <p class="card-text">Christian Marclay's Telephones, created in 1995, was a skilfully edited arrangement of black-and-white, as well as color film clips that highlighted different subjects utilizing an array of telephones, all designed before the smartphone era that we live in today.</p>
            </div>
          </div>
        </div>
      </div>

      <!--Footer Page-->
      <footer class="footer" id="Footer">
        <link rel="stylesheet" href="static/styles.css">
        <div class="container-footer" data-aos="fade-down">
            <div class="row" data-aos="fade-down">
                <div class="footer-colum" data-aos="fade-down">
                    <h4>The Hidden Maze</h4>
                    <ul>
                       <li><a href="#foo0" id="foo0" data-toggle="popover" title="About us" data-trigger="focus" data-content="Focus on give resume of cult film or the filmography or certain directors as well writers that inspired a film.">Film Criticism</a></li>
                       <li><a href="#foo1" id="foo1" data-toggle="popover" title="Some Services" data-trigger="focus" data-content="We develop content by compays who has a interest to make grou up the culture">Web Page Developers</a></li>
                       <li><a href="#foo2" id="foo2" data-toggle="popover" title="Privacy" data-trigger="focus" data-content="All rights reserved by the law No. 787">Privacy Politic</a></li>   
                    </ul>
                </div>
                <div class="footer-colum" data-aos="fade-down">
                    <h4>Siguenos</h4>
                    <div class="redes" data-aos="fade-down">
                        <a href="https://www.facebook.com/comavdel/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.instagram.com/com_avdel/" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://api.whatsapp.com/send?phone=50581545114"><i class="fab fa-whatsapp"></i></a>
                        <a href="mailto:cesargarciakuki@hotmail.com"><i class="fas fa-envelope"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
      
</body>
</html>